<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div style="display: flex;align-items: center;flex-direction: column; margin-top: 60px;">
    <div>
        <img height="50px" src="https://cdn-icons-png.flaticon.com/512/6276/6276686.png" alt="" srcset="">
    </div>
    <div>
        <h3>Đăng ký tài khoản thành công</h3>
    </div>
</div>

</body>

</html>